[2016-09-25 17:17] mohsen1 opened #1 "A Link component"
Add a convenient `Link` component like React Router that simply calls `goTo`.

[2016-09-26 20:10] pietgk opened #2 "Split into router, react and react-native proposal/discussion"
Kristijan,
i would like to use mobx-router in a react-native project.

we should agree on how to tackle this.

any suggestions?

--piet

[2016-09-27 08:15] kitze commented on #1
There already is a component here -> https://github.com/kitze/mobx-router/blob/master/src/components/Link.js It also falls back to #href if the user middle clicks or cmd/ctrl+clicks the link.

[2016-09-27 08:15] #1 closed

[2016-09-28 23:08] kitze commented on #2
Hey @pietgk i already have an idea about this. It's a pretty simple change actually!

[2016-09-29 07:42] pietgk commented on #2
Hi @Kitze, let me know if i can help.

[2016-09-29 21:56] kitze commented on #2
@pietgk you can already use this with react-native. Just don't call the startRouter function anywhere. The startRouter function is responsible for handling the url and the changes in the url.

[2016-10-01 21:07] kitze commented on #2
@pietgk when I think about it, this doesn't make any sense for react-native right now. It will work, but you won't get any "back button" functionality because the views are not pushed into a stack. The old view is just replaced with a new view.

[2016-10-02 08:32] pietgk commented on #2
@kitze,

I like the simplicity and separation of mobx-router.
My RN app already needs some logic to handle back in a web view combined with react-native-router-flux.
I will give it a try when the app is in the app stores and i can take the time for refactoring routing.

This afaikt would mean implementing a stack for back button functionality.

Then I wonder if we/i would need a new repository for

[2016-10-03 15:02] peterbe opened #3 "Back-button style go back"
There are times when, in one component, I know for certainty that the user came from another component. And in the component they're in now I want to have a `<a>Go back</a>` link.
But I want to make the HTML be right-clickable.

This sort of works:
[code]
It gets rendered out to:
[code]

But when you click that, it loads the page as a "new page" (not like a brand new browser request, it still has

[2016-10-03 15:48] peterbe opened #4 "Why doesn't goTo() sometimes trigger my view rendering?"
I don't know if this is a bug in mobx-router or my misunderstand or a bug in my prototype.

My code looks something like this:

[code]

And the route config looks like this:

[code]

So when I'm on the route `/` and trigger that `onSubmit` which triggers the `router.goTo(views.search, ...)` it works. The `onEnter` for view `search` does run.

However, when I'm already on the view `search` and trig

[2016-10-03 16:03] peterbe commented on #4
Aha! [Here it is](https://github.com/kitze/mobx-router/blob/d5c88981db66f0c6c67cbcc0cc5327d6f4101dbd/src/router-store.js#L14)

Because the view hasn't changed, it refused to proceed. I.e. it exits early on `rootViewChanged && view.onEnter && view.onEnter(view, this.params, store);` on calling the `view.onEnter(...)`.

It needs to decide if the view has changed based on the parameters too.

If you'

[2016-10-04 11:32] kitze commented on #4
@peterbe You're right, the onEnter event intentionally doesn't trigger on parameters change. I'm planning to introduce another hook called "onParamsChange" for this. onEnter and onExit functions should trigger only when the root path changes. You can try your hand at doing a PR for "onParamsChange" if you want.

[2016-10-04 11:37] kitze commented on #3
Yeah, the <Link> component doesn't support a custom onClick handler because that didn't make sense to me. I understand the problem that you have thanks to your detailed explanation!

If I keep "previousView" in the router store, this would be really easy to solve. I can add a "goBack={true}" prop to the <Link> component that will always take you back to the view that you came from.

Would this sol

[2016-10-04 11:37] kitze commented on #2
@pietgk for now i will focus on the web version of mobx-router, you can of course fork it and try to do a reasonable PR that will allow integration with react-native.

Cheers

[2016-10-04 11:37] #2 closed

[2016-10-04 12:31] peterbe commented on #4
Interesting. So if someone goes from `/` to `/documents/123` it will trigger the `onEnter`. And if someone goes from `/documents/456` it will trigger `onParamsChange`.
But will going from `/` to `/documents/123` *also* trigger an `onParamsChange`?

They feel like 3 different URLs. And I guess I'd have to do something like this:

[code]

I'm not convinced that `/documents/123` is any more similar t

[2016-10-04 12:32] peterbe commented on #3
Yes please!

[2016-10-04 12:55] kitze commented on #4
If *anything* after the root route ```/documents``` changes, onParamsChange will trigger, should be pretty simple.

[2016-10-04 12:59] peterbe commented on #4
Ah. Cool. That means I'll not be using the `onEnter`. But always the `onParamsChange`.
Which is kinda odd sounding maybe.
If I've gone from `/` to `/documents` it makes sense to use the `onEnter` but to go from `/` to `/documents/123` I have to use `onParamsChange`.

But it'll work. Perhaps it's useful to have both. E.g.

[code]

Looking forward to it!

[2016-10-05 12:58] peterbe commented on #4
I can help you by "reproducing" it in the example app. Then we can use that to test the new onParamsChange feature.

[2016-10-06 10:45] kitze commented on #4
No actually if you go from '/' to '/documents/123' you would use onEnter. If you go from '/documents/123/' to '/documents/456' you would use onParamsChange.

You can setup the sample repo, and I'll implement this soon.

[2016-10-06 15:01] peterbe commented on #4
Two me that's a bit annoying. I'd have to implement some common function that either gets called from `onEnter` or from `onParamsChange`. To me, they're 3 different distinct URLs. But I can certainly think of nice optimizations when I can reuse stuff that both `/documents/123` and `/documents/456` need to share.

Yes I'll try to do that.

[2016-10-12 13:39] delaneyj opened #5 "Unable to use direct links"
To reproduce use the demo and right click a link (such as http://mobx-router-example.surge.sh/book/250/page/130) and open in a new tab.  None of these links work which causes issues for users trying to bookmark specific sections of a site.

[2016-10-13 13:25] jbrodriguez opened #6 "Is this idiomatic ?"
I want to redirect an unauthorized user if he's deep linking into a private path without credentials.

This is working, but I'm wondering if it's the best way to do it.

[code]

[2016-10-14 14:54] RainerAtSpirit opened #7 "Adding support for html5history:false"
This should address scenarios like https://github.com/kitze/mobx-router/issues/5 where the underlying server doesn't support deep linking.

Here's a hardcoded mockup that sets it to false and updates autorun.
[code]

[2016-10-16 07:49] kitze commented on #6
Yes that is fine. What I want to do is make the hooks like "beforeEnter" accept an array of functions. In this case you can extract the "isAuthorized" function and just plug it into one of the arrays.

[2016-10-16 07:51] kitze commented on #5
@delaneyj sorry that was a problem with the surge.sh hosting, I forgot to update something. Direct links should work 👍

[2016-10-16 07:51] #5 closed

[2016-10-16 07:51] kitze commented on #7
Just closed #5 , it was a problem with the hosting of the examples. Deep links should work perfectly fine.

[2016-10-16 07:51] #7 closed

[2016-10-16 09:24] RainerAtSpirit commented on #7
I'm aware of the fact that #5 was an issue with the server :). It would be still great having the option to use hash-history. Shouldn't be too hard to implement by allowing a third  optional `{html5history: true|false (default)}` argument.

[2016-10-16 09:35] RainerAtSpirit commented on #7
Forgot to add I can send a PR for that if you think that supporting hash-history is a useful capability for mobx-router.

[2016-10-16 11:21] jbrodriguez commented on #6
ok, got it ... will look for that change, thanks !

[2016-10-16 11:21] #6 closed

[2016-10-30 13:15] tanzim commented on #4
To me, /document/1 -> /document/2 is a path change and should result in an `onEnter`. /document/1?type=foo&value=bar -> /document/1?type=foo1&value=bar should be a params change (or query change). Same top level route data, but potentially different sub-route data. Using this philosophy, it's easy to isolate when to use `onEnter` vs when to use `onParamsUpdate`. I think that's what @peterbe was in

[2016-10-31 09:01] congrady commented on #4
Is anyone working on that onParamsChange hook? I like separating main route navigation hook from it's params hook, but I need to do stuff even when params change. For example fetch another user data when going from #user/1 to #user/2.

I like mobx router a lot, and I'd like to get rid of react router, but this inability to do stuff when params change is crucial for my use case.

[2016-11-03 20:44] kitze commented on #4
Ah I know, I need it too. It will be implemented until the end of this week.

[2016-11-04 11:24] #4 closed

[2016-11-04 11:25] kitze commented on #4
@congrady @peterbe just implemented this, let me know if it's fine.

[2016-11-04 12:20] kitze opened #8 "Add Flow types"

[2016-11-04 12:20] kitze commented on #3
@peterbe I'll tackle this tomorrow.

[2016-11-04 12:21] peterbe commented on #4
Awesome! Didn't I make a PR on the example app or something that demonstrated this. I'll take a look at that again.

[2016-11-04 12:22] kitze commented on #4
@peterbe I also updated the mobx-router-example repo.

[2016-11-15 16:15] eiktyrner opened #9 "Multiple stores"
Is it possible to use this package with multiple stores? Or do you need a "root" store like in your examples?
I'd rather not have just a single store available for injecting like your example `export default observer(['store'], Gallery);`

My current setup with ReactRouter is along these lines (from memory so syntax might be off..)
[code]

[code]

I couldn't get the startRouter to work with this t

[2016-11-25 09:33] aap82 opened #11 "Having issue with director.Route.init()"
Submitted pull request for simple fix.  See [this](https://github.com/flatiron/director/issues/332)

Question to follow.

[2016-11-25 10:06] aap82 opened #12 "Question"
Before I say anything there are two things you must know: 1) I have no professional background in programming, web design, theory, or anything having to do with code.  I'm purely self taught (less than 8 months) in this regard.  Second, I've had quite a bit of scotch (half bottle of Macallan 12-year) this evening, this after a few bottles of wine; so I may have missed something obvious, and I trul

[2016-11-25 10:08] #11 closed

[2016-11-25 10:14] kitze commented on #11
@aap82 thanks for the fix, just merged the PR and released 0.0.7 with it

[2016-11-25 10:24] aap82 commented on #11
@kitze np.  took me longer than usual to figure out....i may or may not have completely deleted the repository from my project because of this. :)

[2016-11-25 10:25] kitze commented on #12
First of all, that's the best GH issue intro I've ever seen. Enjoy your drinks! 😅

Right now there's not a single and best way of modeling a mobx store, so everyone has their own solution.

There's currently an open issue about [supporting multiple stores](https://github.com/kitze/mobx-router/issues/9) but I would have to explore this carefully and figure out what would be the best way to implemen

[2016-11-25 10:26] kitze commented on #9
@eiktyrner Thanks for the suggestion. Right now I'm using a single store object for my mobx apps but you're right, this should be supported too. Also see the discussion in #12 👍

[2016-11-25 10:51] aap82 commented on #12
I am enjoying them, but for how much longer, I do not know.  Your one question seems to relate directly back to your second sentence to some extent, does it not?  I'm having the hardest time trying to figure out how I should structure something with mobx as a store provider.

So, while I think about how to answer your question about hook, may I ask what does one expects to with hooks?  Are they on

[2016-11-25 10:55] kitze commented on #12
Yeah, mobx-state-tree is developed so there can be a more opinionated way of shaping the state tree in mobx (hence the name). For now everyone is going freestyle.

The hooks are using the store argument so they can trigger changes in the store directly, instead of relying on react lifecycle methods.

Example here: https://github.com/kitze/kitze.io/blob/master/src/config/views.js#L20

[2016-11-25 11:09] aap82 commented on #12
I came across and began to use [baobab-react](https://github.com/Yomguithereal/baobab-react) before mobx, which allowed me to do nearly the same things in a cleaner, structured way and was performant enough.

But if felt heavier, because I thought I was dragging my entire state tree around with me everywhere. That's what drew me to mobx, the ability to break up the state tree, or at least its stor

[2016-12-07 11:25] codyhatch opened #13 "PropTypes error"
I've added `mobx-router` to a project and started getting a new error:

[code]

The key for this seems to be trying to render the `<MobxRouter />` component; the contents of the views, or whether I even call `startRouter` seems to have no impact.

I'm at a bit of a loss as to how to resolve this.

[2016-12-18 08:53] aap82 commented on #13
See https://github.com/mobxjs/mobx-react/blob/master/CHANGELOG.md#using-observer-to-inject-stores-is-deprecated

[2016-12-20 18:22] peterbe opened #15 "Catchall/Not found"
How should you best implement a notfound route?

[2017-01-08 03:33] cocodrino opened #16 "a bit lose with the samples, getting error store.router is undefined"
Hi!!..I'm trying to use mobx-router with [this boilerplate](https://github.com/KadoBOT/reaxor) unfortunately I'm a bit lose because seems than this sample use an older version of mobx-router and I'm a bit noob using mobx

The file structure between the sample and the boilerplate is similar, my App.js ooks like this

[code]

and the Store looks like this, I add the router parameter because I look t

[2017-01-09 12:34] VolCh commented on #16
try [this way](https://github.com/kitze/mobx-router/pull/17)

[2017-01-09 12:49] VolCh commented on #15
Director has 'notfound' in configure options, but mobx-router use only one ('html5history') of them and it hardcoded in createDirectorRouter. I think the simplest way - add options param in createDirectorRouter & startRouter functions and path it to director.configure

[2017-01-09 16:14] foxhound87 opened #18 "Server Side Rendering"
Hello @kitze

mobx-router is very cool, great work!

I would like to replace react-router in my projects but I need SSR support.

Is this in your roadmap?

Thank You.

[2017-01-11 22:21] natew opened #19 "Code splitting"
Just opening as I'm curious. This seems to require System.import and some sort of lazily require'd components from what I've seen.

[2017-01-12 01:52] timkendall opened #20 "Style Active Link"
We should have a way to easily mark a `Link` component as "active" if it is a link for the current viewing (including `params` and `queryParams`).

With styled components I've been experimenting with something like this (note that this approach doesn't yet take into account params or queryParams):

[code]

[2017-01-12 01:57] timkendall commented on #20
Wait awkward...can just use the default browser `a:active`.

[2017-01-14 19:34] peterbe opened #21 "Interceptable Link"
I use the `Link` component and it's awesome. But there's no way I can intercept that click.
In particular, depending on some programmatic logic I'd like to do some things in the `onClick` that may or may not cancel the click. For example:

[code]

It's always a bit weird to have multiple `onClick` events because it's confusing what the order is supposed to be.

Here's a hack I wrote for my own nee

[2017-01-14 19:39] peterbe commented on #21
By the way, here's why **I** think it's an awesome idea.
I have a tabular page. It does an AJAX query (e.g. `/api/items/?page=1`). If you click on one of them, it goes to the "perma page" for that item. Then, to get the data it does an AJAX query again (e.g. `/api/items?id=1234` and something like...
[code]
(It also loads other stuff that isn't displayed in the tabular page)

So by intercepting th

[2017-01-17 08:25] kitze commented on #20
Ah, good idea! I will have some more time to work on the router soon, meanwhile you can submit a PR :)

[2017-01-17 08:26] kitze commented on #18
It's on the roadmap, I'll have some more time to work on the router starting February.

[2017-01-17 18:14] foxhound87 commented on #18
Great! I will try it and if I find some time to take a look at your code I will certainly contribute to this package.

[2017-01-17 19:08] timkendall commented on #20
Planning on it!

[2017-01-22 09:13] eugenkiss opened #22 "History Manipulation"
Great work on this project! I've created a similar project (https://github.com/eugenkiss/static-mobx-routing) and I'm comparing the different approaches we took to see if there are things to improve.

Consider the following use case. You are on the homepage (`/`). You enter the route `/new-post` and create a new post. This leads you to route `/post/12`. When you now press the browser's back button

[2017-01-22 09:20] eugenkiss opened #23 "Scroll Position Restoration"
Restoring the scroll position in SPAs seems to be a difficult problem in general. Mainly, because data is loaded asynchronously again when you go back. See, e.g., https://brigade.engineering/maintaining-scroll-positions-in-all-browsers-a280d49bffca.

Do you have ideas how you would adjust mobx-router so that it can support scroll position restoration? Or some other, so to say, transient state (mar

[2017-01-22 18:38] foxhound87 commented on #19
I'm interested in code splitting too.

Here we are discussing on how to lazy load stores or actions, and I think we need a pure mobx solution and get rid of react-router:

https://github.com/foxhound87/rfx-stack/issues/40

[2017-01-23 03:24] timkendall opened #24 "Async beforeEnter and beforeExit"
As documented in the Readme,  allowing async `beforeEnter` and `beforeExit` hooks would be a nice feature to support.

I started implementing it here -> https://github.com/timkendall/mobx-router/tree/feat/async-hooks

While the basic implementation is done (needs test coverage), I did notice one edge case we will need to handle - if a route entry is scheduled, there needs to be a way to cancel it

[2017-01-23 03:47] timkendall commented on #24
Would be maybe cool to make the loading state available to the `Link` component at least? Then consumers could easily implement links that have loading indicators. This would in fact be useful also for routes that have been code split (if we ever implement that).

[2017-01-23 04:05] timkendall commented on #20
Todo:
- [ ] Implementation (implement both `activeStyle` and `activeClassName` like React-Router)
- [ ] Update documentation

[2017-02-07 13:03] faassen commented on #16
Something seems to have changed in the API so that now the ``RouterStore`` class is exposed instead of an instance. If you import ``RouterStore`` and instantiate it with ``new`` it will work. But this means the documentation needs to be updated to reflect that.

[2017-02-09 16:57] LeonardoGentile commented on #9
@kitze  Just right after having installed this I found the same problem as @eiktyrner.
Any update or workaround on this?

Thanks for sharing this by the way 👍  👍

[2017-02-21 12:20] LeonardoGentile opened #26 "indexRoute and childRoutes"
Hello,
in the example [routes configuration ](https://github.com/kitze/mobx-router#example-config) you use a structure  that is a bit different from the [react-router plain routes config](https://github.com/ReactTraining/react-router/blob/master/docs/guides/RouteConfiguration.md#configuration-with-plain-routes).

In your case how would we specify routes hierarchies and how to use `indexRoute` and

[2017-02-23 10:27] LeonardoGentile opened #27 "Documentation"
Hello, I've tried to dive into your code and many things do not work as expected or as presented in the docs. I like this project but I guess the doc is not up to date.
An example is the `router.goTo(views.book)` generates a `view.replaceUrlParams is not a function` because the `goTo` method expect [more parameters](https://github.com/kitze/mobx-router/blob/master/src/router-store.js#L13) to be pa

[2017-03-06 11:28] #26 closed

[2017-03-15 21:40] kitze commented on #27
Yeah @LeonardoGentile, I need to update the project docs a little bit. Will be done soon!

[2017-03-15 21:41] kitze commented on #23
This is an interesting issue @eugenkiss. I will think about a way of implementing it.

[2017-03-15 21:46] kitze commented on #22
Hey man! Your router looks amazing! I would looove if we can brainstorm on this because I needed it in few of my projects. Ping me on twitter @thekitze and let me know when can we chat.

[2017-03-15 21:47] kitze commented on #21
Ah, this looks really interesting. Will take a stab at it soon! 🙌

[2017-03-15 23:17] LeonardoGentile commented on #27
Hi @kitze
In the end I've taken another ehmm..route and implemented my own version of mobx-router as a plugin of router5, take a look at a very early version: https://github.com/LeonardoGentile/mobx-router5

Maybe we could converge some day ;)

[2017-03-16 06:45] kitze commented on #27
Looks nice @LeonardoGentile, good luck! 🙌

[2017-03-16 06:45] #27 closed

[2017-03-16 06:49] kitze commented on #20
Is this done @timkendall ?

[2017-03-16 08:19] eugenkiss commented on #23
FYI, I've tried a specific approach in a branch of my project: https://github.com/eugenkiss/static-mobx-routing/tree/rewrite

The idea is roughly as follows:

First, the assumptions: Routes are part of a list (the *history*) that is (de)serialized and there is a pointer/index that points to the current route in the history. This pointer moves according to the user's history manipulation (e.g. pres

[2017-03-16 08:31] eugenkiss commented on #22
Will do! For general information purposes, here's the rough idea: Routes are part of a list (the history) that is (de)serializable and there is a pointer/index that points to the current route in the history. This pointer moves according to the user's history manipulation (e.g. pressing the back button decreases the by 1). You can manipulate this list however you please.

[2017-03-16 15:59] timkendall commented on #20
No it's not. I stopped working on it for now as I've been busy with other things. Still think it's a good thing to have as core functionality though. Perhaps someone else can pick this up?

[2017-03-16 20:46] kitze commented on #20
I'm not a fan of async routes *at all* so that's why it's not part of core functionality. I think that the flow of:

1. click a link
2. wait for something to happen (i.e loading data)
3. go to that link

should be handled by the user manually, not the router library.

I stand by this point but I really would like to be proven otherwise :)

[2017-03-22 05:39] timkendall commented on #20
I'm not a huge fan of them either, but I'll play devil's advocate.

Async routes seem to generally be used to tie route rendering to a
requirement that some data or async task be completed before the user is
allowed to access the route. Sure we could manually handle this in our
components (i.e show a loading state while the async is happening) but
pushing this to the routing layer gives us a few a

[2017-03-31 18:35] jayalfredprufrock commented on #9
For now I'm doing this and always injecting specific stores instead of the `store` collection.

[code]

[2017-03-31 19:03] jayalfredprufrock opened #29 "Allow router.goTo to find route based on string"
Having to pass the actual `Route` component instance to `router.goTo` is really inconvenient. What if the router views object took an optional `name` (defaulting to `path`) for each route that could be used in `router.goTo`  instead of passing the Route instance explicitly? This would also be handy when you need to pass a specific route via a query string.

[2017-04-01 00:25] jayalfredprufrock opened #30 "Wrapping view in extra div"
While migrating over to mobx-router, I noticed my views are getting wrapped in a `<div>` and causing a layout styling problem. Is this extra div necessary? If so would it be possible to provide at least a prop for adding custom styles to it?

[2017-04-01 00:36] jayalfredprufrock commented on #30
I was able to remove the extra div without altering any other behavior by changing the code in MobxRouter.jsx like this:

[code]

[2017-04-01 17:59] jayalfredprufrock opened #31 "allow configuration without html5history, aka hash routing"
As of now, mobx-router forces you to use html5history routing w/ pushState, however this isn't always desirable with SPA or when using Electron.

Would you accept a pull request that provides an option to switch to hash-based routing which would then use setRoute instead of pushState?

[2017-04-03 20:11] RainerAtSpirit commented on #31
https://github.com/kitze/mobx-router/issues/7

[2017-05-09 05:39] vencax opened #32 "beforeExit and beforeEnter hooks not run when new view is a subpage of the old one"
FROM MAIL:
[code]
I have fixed this with [changing this line](https://github.com/kitze/mobx-router/blob/master/src/router-store.js#L22) with:
[code]

[2017-05-25 16:40] daedalus28 opened #33 "Include the target route in `beforeExit`"
I need to know what the target route is going to be in `beforeExit`. There are a few use cases for this, like conditionally allowing navigation only between certain routes, or conditionally running cleanup of state if we know it won't be needed on the next page (but leaving it if it is needed, such as in a child routing situation). For now, I can accomplish this by caching the previous view in `be

[2017-06-14 21:10] sadasant opened #35 "Is it possible to have autoruns subscribing to router properties?"
Currently, the object we get from `new RouterStore` has observable objects that can't be observed by themselves. For example, something like the following doesn't seem to trigger if the currentPath or the params change:

[code]

The sites where we've been using this project work properly, but this is something we would like to have. Are we missing something?

Thank you all for the effort put into

[2017-06-27 11:46] kaladivo opened #36 "React warns deprecated"
When using mobx-rotuer, React library gives me those warrnings:

[code]

[code]

Is there any way how to solve them? It seems like mobx-router is using react the outdated way...

[2017-07-14 16:04] gordongordon commented on #36
No,  I don't have this problem! With this Package.son
`{
  "name": "mobx-react-ant-boilerplate",
  "version": "1.0.1",
  "description": "MobX Boilerplate with Ant.Design",
  "scripts": {
    "start": "node server.js",
    "lint": "eslint src"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/yonibot/mobx-react-ant-boilerplate"
  },
  "keywords": [
    "react",
    "reactjs",

[2017-08-18 10:51] blizzardzheng opened #40 "may add children in routes declear like react router, and add goback api"
in my case ,i want to simply replace react router, then ,i  wanner to use children feature as react router, and if i registered the route obj, i can use goto func with path string instead of the router. also  goback logic is needed

[2017-09-03 20:17] peebles opened #43 "beforeEnter params and queryParams"
If I type in the browser address bar: http://localhost/home?foo=bar

and I have this route code:

[code]

"params" is an empty JSON object and queryParams seems like it is an observable.  But I cannot seem to get to the query params ( foo=bar ).

What I want to do is to implement "pass-thru" authentication.  The login component needs to "goTo" the original attempted path, in this case "/home?foo=b

[2017-09-11 04:37] gordongordon commented on #43
This may help!  please change this : `path: '/home/:foo'`! As U know that, in order to get params from url you need to have :/foo . if you want to learn please read over the example from github!

[2017-09-11 04:42] peebles commented on #43
A few days ago I submitted a pull request.  I believe the beforeEnter() is being called with incorrect parameters.  It is being called with the previous params ... the same ones passed to beforeExit().  beforeEnter() should be getting the params the new route being gone to is going to get.

[2017-09-12 01:25] mattscooter commented on #36
I am also seeing the same warnings.  Note that the warnings were introduced in react v15.5, which is why gordongordon isn't seeing the same error, since he is using 15.4.2.

I've checked the code and it appears that there is no reference to createClass or React.PropTypes in the actual code of the mobx-router so I think it must be introduced by one of the node dependencies or the babel build proces

[2017-09-30 11:25] VsevolodTrofimov opened #46 "falsy (ie `0`) param values are being ignored"
for example I have a route path `mentor/:id`
So `/mentor/1` works fine
`/mentor/0` (with id=0) is replaced as `/mentor`

So I suggest changing `newPath = value ? newPath.replace(paramKey, value) : newPath.replace(`/${paramKey}`, '');` with a `null` \ `undifned` check

`route.js`, line 57 as for master branch

I can make a PR, but that might be too much for 1 line

[2017-09-30 11:29] VsevolodTrofimov commented on #36
I've taken a look at the dist (compiled) code.
No signs of react's create Class.

No idea where the warning comes from.

[2017-09-30 11:33] VsevolodTrofimov opened #47 "Outdated mobx"
![image](https://user-images.githubusercontent.com/10118898/31045426-1cc2137e-a5ec-11e7-97e1-4021b3194df5.png)

Package json has mobx version specified explicitly, maybe allow newer versions? (i.e. `^2.5.1 insted if '2.5.1').
Because current state results in mobx being included twice.

[2017-09-30 11:34] VsevolodTrofimov commented on #47
Same for mobx react actually

[2017-10-18 02:16] tomitrescak commented on #47
Is this project receiving any :hear:
I tried to fork it, update to newest packages such as Mobx, React, but I can no longer build with this error: "Error: 'createElement' is not exported by node_modules/react/index.js"

Would you consider removing mobx / mobs-react  and react and keep it as peer dependency?
Would be also great to see this working with react 16.

[2017-10-23 21:51] pabloa commented on #47
It seems this fork solves it: https://github.com/elektronik2k5/mobx-router/commit/36610e7dacee4df593719c69d1bb4a50fdd65ec6
@kitze could you please apply https://github.com/elektronik2k5/mobx-router ?

[2017-10-27 05:31] criloz commented on #29
also for avoid, circular dependencies

[2017-12-10 15:11] nareshbhatia opened #52 "API clarifications - use of MobX stores"
@kitze and other contributors, thanks for this awesome project! I spent my whole day yesterday switching over a significant application from react-router to mobx-router. I was having subtle data loading issues with react-router, which are now gone by taking the pure state-driven approach by mobx-router.

I'd like to share a couple of experiences when porting over to mobx-router and also a few ques

[2017-12-11 19:44] nareshbhatia opened #53 "Router params change is not triggering a re-render of my view"
I enter the following path in the browser:

    /orders/123/summary

Everything works, the summary tab is rendered. Now I click on the detail tab. The path changes to:

    /orders/123/detail

Nothing changes in the view! The render method is not triggered even though I am dereferencing `router.params`. Here's my code (simplified):

    render() {
        const { store } = this.props;
        cons

[2017-12-11 20:50] nareshbhatia commented on #53
Completely bizarre! It works when I put some breakpoints and step through the code, but not at full speed! It is as if the `router.params` value needs some time to settle down. Never seen this behavior with MobX. Is there any chance that [this line of code](https://github.com/kitze/mobx-router/blob/master/src/router-store.js#L39) is not triggering a reaction for some reason:

    this.params = toJ

[2017-12-15 13:42] nareshbhatia commented on #53
Submitted PR #54 to address this issue.

[2017-12-15 20:03] nareshbhatia commented on #47
I have updated to the latest mobx + react on my fork: https://github.com/nareshbhatia/mobx-router. There were a few gotcha's with the update, but all cleaned up now. Please see commit comments for details. I have also made bunch of build improvements, e.g. added Lint and Prettier.

[2017-12-18 12:05] kitze commented on #47
Merged @nareshbhatia PR, updated all packages to latest versions.

[2017-12-18 12:05] #47 closed

[2017-12-18 12:20] nareshbhatia commented on #53
PR merged - closing issue.

[2017-12-18 12:20] #53 closed

[2018-04-02 18:56] marlonsupetran commented on #16
I am getting this error when I navigate using goTo, the store passed to beforeEnter is undefined.

[2018-05-23 08:28] tomaash commented on #32
My forked package fixes this problem, feel free to use https://www.npmjs.com/package/mobx-router-3

[2018-05-23 08:29] tomaash commented on #24
I implemented this feature in a simpler way, just including `async / await` in the `goTo` function. Seems working so far. Until https://github.com/kitze/mobx-router/pull/56 get merged, feel free to use https://www.npmjs.com/package/mobx-router-3

[2018-05-23 08:34] #32 closed

[2018-05-27 12:18] MaelLarcher opened #57 "Mobx state persistance between routes"
Hi, I supose it is not the place to post this question but I need a quick answer.
Mobx state can persist between routes changing with mobx-state-router ?
That's mostly what I'm looking for
Thank's

[2018-05-31 15:19] kitze commented on #24
Merged now

[2018-05-31 15:19] #24 closed

[2018-06-01 05:19] kitze commented on #57
Yes.

[2018-06-01 05:19] #57 closed

[2018-06-01 05:20] kitze commented on #46
@VsevolodTrofimov Can you please make a PR? There is nothing wrong with one line PRs.

[2018-08-15 08:40] #8 closed

[2018-09-10 09:32] zandi2015 commented on #40
use window.history.back();

[2018-09-27 12:34] kennir opened #60 "undefined store after goTo"
I want go to auth page if not authenticated automatic, then go to home page if already authenticated

my views looks like
[code]

I got an error after goto auth from home, How can I solve it ?

[code]

Thanks

[2018-09-27 12:48] kennir commented on #60
replace store.router.goTo(views.home) to store.router.goTo(views.auth, param, store) is fine, is it a solution?

[2018-09-28 14:56] joshuaja commented on #9
I just ran into this as well. The generic MobX error made it a bit difficult to track down. Any plans to support a custom store name instead of requiring `store`?

[2018-09-30 08:17] #60 closed

[2018-10-01 13:28] Architecd opened #61 "<Link> Usage"
Hey,

first of all thanks a lot for mobx-router. It works very nicely :)

One thing I couldn't really figure out though was how to use the <Link> properly. How to import & pass a view?

thanks a lot for your help :)

[2018-10-04 14:54] JamesTheHacker commented on #61
I think you should use `router.goTo(view.someView)` but I'm having issues with that myself atm.

[2018-10-04 14:55] JamesTheHacker commented on #60
You saved my bacon! Literally had exactly the same problem for hours.

[2018-10-15 05:36] kitze commented on #60
Yes

[2018-10-17 15:39] marjan2k opened #62 "Component Reference for route hooks"
Hello,

Will it be possible to provide the component reference in the route hooks?

A reference to the component can give the ability to do animated routes.

[2018-11-16 06:03] manyopensource opened #63 "I can't see how to make a hotreloading"

[2018-11-16 06:04] manyopensource commented on #63
I need some help

[2018-12-04 19:42] thdk commented on #30
I would also prefer not to have a wrapping div.

@kitze do you see any problems with the fix suggested by @jayalfredprufrock ?

[2018-12-05 13:31] thdk commented on #30
Oops got a typo.. Fixed in second commit. Still untested, will submit pr when tested.

[2018-12-06 06:02] #30 closed

[2018-12-06 11:56] lucianomilen opened #65 "Nested routes?"
First of all, thank you for `mobx-router`!
I've been facing an issue with nested routes... My case is I have an `index.js` file, where I set up a router to render `/login` and `/app`. After the user logs in, I redirect him to `/app` route. Pretty simple.

The problem is my app component has a sidebar with menu items in it and renders some content (next to the sidebar). I have a `/posts` item and a

[2018-12-06 16:37] thdk commented on #65
You can create an App component.

[code]
And then simply wrap your **PostContainer** and "UserContainer" with the **App** in the mobx-router config like below:
[code]
[code]

[2018-12-07 13:44] lucianomilen commented on #65
@thdk that's an interesting approach, but it feels like the whole `app` component would be re-rendered, since the Route calls for a new `app` every time the route changes. Is this the only way to deal with this issue? It doesn't seem like a good strategy to deal with nested routes.

[2018-12-08 11:12] thdk commented on #65
@lucianomilen you are right. It seems the whole app component is indeed rendered again. But for my current application that's not such a big problem as it's very light. I'll dig into this later once I have more knowledge of react and mobx.

Is it something like React Router's named components you are looking for? https://github.com/ReactTraining/react-router/blob/v3/docs/API.md#named-components
Of

[2018-12-08 13:03] thdk commented on #43
I can confirm that beforeEnter is being called with the params of the previous route.

@kitze is that by design?

[2018-12-09 21:02] thdk opened #67 "dist folder missing on npm version of 0.0.14 version"
When I install the latest version (0.0.14) of mobx-router from npm, I see that the dist folder is missing.

On 0.0.13 the dist folder was still there.

[2018-12-11 18:11] lucianomilen commented on #65
@thdk I finally switched to standard [React Router](https://github.com/ReactTraining/react-router) and easily found what I was looking for.
Thank you anyway! I'm closing this issue, although that's a good suggestion to this component.

[2018-12-11 18:11] #65 closed

[2018-12-12 08:14] thdk commented on #43
@kitze any chance my pull request can be merged to fix and close this issue?

[2018-12-12 08:48] #43 closed

[2018-12-12 08:49] kitze commented on #67
Is it ok now with 0.0.16?

[2018-12-12 09:17] thdk commented on #67
Yes it is ok! Thanks!

[2018-12-12 09:17] #67 closed

[2018-12-17 14:07] thdk opened #68 "Bug when beforeEnter doens't return false"
To reproduce;

Use the example mobx router repo

In src/config/views.js

update the _book_ route with a **beforeEnter** property like below

[code]

run the demo app and follow the below navigation path:

1. Go to book 250, page 130
2. Home
3. Go to book 250, page 130

I get the below error here:

![image](https://user-images.githubusercontent.com/4201102/50091850-c5a07080-020c-11e9-9d26-8fa05ca0d

[2018-12-17 15:00] thdk commented on #68
I found out the real cause of this bug.

router-store.js:

[code]

These three properties are used in the computed property _currentPath_

[code]

A mobx-transaction must be used to prevent observers of being notified untill all three properties have received their new value.

[2018-12-27 07:37] #68 closed

[2019-01-12 05:26] elilambnz opened #71 "`beforeEnter` can't return `true` when mobx strict-mode is enabled"
MobX reports that the route is being updated outside of an `@action`, error on [line 64](https://github.com/kitze/mobx-router/blob/57719c7b1d7c4bc66894c7fe0986bb50451c5ed1/src/router-store.js#L64):

[code]

mobx-router version 0.0.17

Full error from the console:

[code]

[2019-01-12 06:34] elilambnz commented on #71
#70

[2019-01-12 08:02] elilambnz commented on #20
Alternatively, you could rely on the RouterStore to return a bool depending on the current view.

[code]
This works well for components like Bootstrap NavLink that have an `active` prop.

For a classname, you could do something like:
[code]

[2019-01-12 08:06] elilambnz commented on #9
Combining multiple stores is recommended as [best practice](https://mobx.js.org/best/store.html) if you plan to have multiple stores.

Also, +1 for support to have a custom name instead of `store`.

[2019-01-12 08:08] elilambnz commented on #16
@marlonsupetran that's a completely different problem. See #60

[2019-01-14 10:56] #71 closed

[2019-01-17 06:36] #20 closed

[2019-02-21 13:11] TimDaub opened #72 "Adding 0 as a parameter doesn't show up in <Link>"
Sorry for this slightly confusing headline.

I have:

[code]

Where `vuln.id` is 0 of type integer. However when it's 0, mobx-router's Link is not including it into the URL "http://localhost:3000/pay/", while when I call `vuln.id.toString()` it does.

[2019-02-27 13:23] TimDaub commented on #7
Has this been considered? I'd like to host on github pages and the only way I see paths like e.g. `/a/b/0` working is with hash-history.

I can submit a PR if necessary.

[2019-02-27 14:03] TimDaub commented on #7
I added this via: #73

[2019-02-28 19:05] thdk commented on #72
Likely to be related to #46

[2019-03-02 08:53] thdk commented on #72
I've tested this locally and found out that when you pass a zero to any property of the params object, it won't be displayed in the url but it will be available in the params object in 'onbeforeenter' and its also available as store.router.params.id.

However, it does make sense to display '0' in the url so I've made the changes suggested in #46 and created a PR for this.

[2019-03-05 08:53] #46 closed

[2019-03-05 08:53] #72 closed

[2019-06-14 05:55] Monilal opened #76 "How to check HTTP error code?"
Hi,

How to check HTTP error code from route.

[2019-07-02 07:24] ddinggu opened #77 "How to render 404 error page?"
Hi.

I want to render 404 error page when not matched routers like [react-router-dom example](https://reacttraining.com/react-router/web/example/no-match).

I can't find any idea in this mobx-router-example or other projects.

Please help this problem.
Thank you.

[2019-09-05 17:26] ekokotov opened #80 "store in undefined when I use .goTo"
![image](https://user-images.githubusercontent.com/11966000/64364418-7f4da480-d01b-11e9-9be2-ddf0be49376b.png)

[2019-09-05 17:27] ekokotov commented on #80
When I reload the page with this route, everything is ok. but when I redirect using `.goTo` store in always undefined

[2019-09-07 13:21] ekokotov commented on #80
Seems like I had to pass store in `.goTo` ;(.
I had to extend your router and  pass my `root store` to `.goTo`

[2019-11-04 13:31] fastwit commented on #77
Similarly to example you have provided, you can place a catch-all route at the end of your routes config,
[code]
also, you can use onEnter to handle additional logic for exceptional cases.

[2019-11-07 17:23] ddinggu commented on #77
Thanks to Reply!

[2020-02-16 08:31] #77 closed

[2020-04-11 19:02] thdk opened #82 "Use the react context instead of provider/inject"
From the docs of mobx regarding the mobx-react package, using Provider/Inject isn't recommended anymore.  They sugest to use the React API context.

Using react context api will drop the need for mobx-react (which provides inject/provider) and allow to use mobx-react-lite. A smaller and faster version of mobx-react. (Its in fact a dependency of mobx-react)

I can do a pr for this one but I see two

[2020-04-13 15:17] thdk commented on #52
I would also change the mobx router api so that the constructor of routerStore accepts the rootStore.
The value provided in the constructor of the rootstore can then be used when calling goTo instead of having to pass the entire rootStore each time we call goTo from somewhere in the application.

Do you still accept PR's for this project?

[2020-04-17 13:05] kitze commented on #52
@thdk sure

[2020-04-17 13:05] #82 closed

[2020-04-18 07:32] thdk commented on #52
@kitze cool, I'll try this out asap

[2020-04-19 17:06] thdk commented on #80
@ekokotov When your Route doesn't use the `store`argument in any of it's lifecycle methods, you don't need to pass `store` to `goTo`. However, as soon as one of your lifecycle methods (onEnter, onExit, beforeEnter,...) use the store argument, then you must always pass the store when calling `goTo`.

[2020-04-19 17:12] thdk opened #89 "mobx router - typescript"
I'm only using typescript these days for my work and it helps if libraries are either written in typescript or provide typescript declaration files.

mobx-router is not a very large project so it can 'hopefully' be converted into typescript.

Feel free to share your thoughts on typescript for mobx-router here in this issue while I'm working on the PR.

[2020-04-24 14:30] #89 closed

[2020-04-24 14:49] thdk opened #92 "Keep a reference of the 'root store' in RouterStore"
As discussed already in #12 and #52 and caused confusion about 'store' being undefined when not passing it explicitly to 'store.router.goTo' in #80, I suggest to keep a reference to the "root store" in RouterStore .

So RouterStore can always provide the value for 'store' and pass it to the lifecycle methods.

[2020-04-24 17:45] #12 closed

[2020-04-24 17:45] #52 closed

[2020-04-24 17:45] #80 closed

[2020-04-24 17:45] #92 closed

[2020-04-24 17:49] thdk commented on #36
mobx-router requires a minimum version of React 16.8.*

[2020-04-24 17:49] #36 closed

[2020-04-24 18:11] thdk commented on #16
closed in #92

[2020-04-24 18:11] #16 closed

[2020-06-03 15:09] nkint opened #94 "Support to Mobx State Tree"
Hi!
Just a curiosity then a real issue.

Has anyone ever thought about integrate this wonderful project with mobx-state-tree?

[2020-06-04 19:10] nkint commented on #94
Thanks for answer. In mobx-state-tree there is a more structured way to define state, I will try to set up something, thanks!

[2020-06-04 19:21] harrycollin opened #95 "Is it possible to do nested routing?"
I was looking for a way to do nested routing without having to define lots of top level routes. Is there an example for this?

[2020-06-05 08:01] thdk commented on #95
Hi, can you give an example of what you are trying to accomplish?
What do you mean with "without having to define lots of top level routes"?

[2020-06-05 12:16] harrycollin commented on #95
Hi @thdk, so what's the best way to offload the responsibility for all routes under /dashboard/* instead of having to define multiple routes likes '/dashboard/reports' and '/dashboard/profile' etc. In my case all routes under /dashboard are supposed to be rendered with the same container but have different content.

This is how I currently have to map the sub-routes of /dashboard. It isn't very co

[2020-06-05 12:38] harrycollin commented on #95
I understand that you can have '/dashboard/:tab' for example to handle sub-routes at a top level, but is there a way to use a route object structure as above for nested routes?

[2020-06-05 14:21] thdk commented on #95
Can you write the same route config for /dashboard and /dashboard/reports as above as how you would like to see it?

[2020-06-05 17:17] harrycollin commented on #95
I would imagine it would work something like this.

[code]

[code]
A proposed 'basePath' prop would indicate that it should only look for routes with that prop prefixed.

Does this seem like a reasonable thing to do?

[2020-06-06 16:28] thdk commented on #95
Ok, I see. That way you would have more than one instance of MobxRouter which is not supported.

Is your question how you can move configuration of child routes into another file?

If so you can do something like:

[code]

where your routes/index.ts simply gathers all routes config from all top level configuration files.
[code]

I'm using such a setup in my project here: https://github.com/thdk/ti

[2020-06-08 03:25] kitze commented on #94
@nkint check out rttr -> https://github.com/kitze/rttr

[2020-06-08 03:25] #94 closed

[2020-06-09 21:55] harrycollin commented on #95
@thdk Thank you, this is very useful! This solves my issue in a way :)

[2020-06-15 10:15] #95 closed

[2020-08-06 18:00] rdgco opened #97 "How to catch all unmatched route url's and map to the same component?"
This is more of a support question, and depending on the answer it could be an issue or limitation.

I have followed the solution presented here: https://github.com/kitze/mobx-router/issues/77#issuecomment-549353800, as an attempt to have a component rendered when none of the routes are matched by the current url. For example. the solution recommends having a catchAll view:

[code]

This works for

[2020-08-28 16:04] rdgco commented on #97
I was able to solve this by writing a different MobxRouter.

`import React from 'react';
import { observer, inject } from 'mobx-react';

const MobxRouterWithErrorHandlingFunc = ({ store, store: { router } }) =>
    router.currentView && router.currentView.component ? (
        router.currentView.component
    ) : (
        <h3>
          Page Not Found.
        </h3>
    );

const MobxRouterWithEr

[2020-08-28 16:04] #97 closed

[2020-10-19 20:01] iswara108 commented on #94
@kitze The example doesn't have a mobx-state-tree in it. Is the intention of rttr to have two separate stores? One for routing and the other for the mobx-state-tree while adding two levels to the component hierarchy to provide the two store contexts?

Second question: How would you use routing in [mst-gql](https://github.com/mobxjs/mst-gql)?

[2020-10-20 09:22] kitze commented on #94
@iswara108 you can use [rttr](https://github.com/kitze/rttr) for MST apps. I have no idea how to use it with `mst-gql` tho, sorry.

[2020-11-26 00:52] Daryn-L opened #103 "How to go directly to a path, e.g. for putting a reset token"
Hi guys,

I am trying to integrate a reset password token that gets emailed to the user.  Is it possible to integrate this into mobx-router?  e.g. they get emailed a link with a uuid.  www.mywebsite.com/reset-password/565456-465-645654-465645

e.g. Something like:

[code]
However it just redirects to the /reset-password page and the token is null
quite new to all this...

Any help would be appreci

[2020-11-26 02:45] Daryn-L commented on #103
As a workaround I have managed to do the following:

In my main App.tsx

[code]

Then if I go to www.mywebsite.com?reset-password-token=23432-234-234324-234324

The token will be in the store

Not sure if this is a good solution or not...

[2020-11-26 05:51] thdk commented on #103
Should be fixed when #102 is merged.

I'll try to look at merging it asap. Meanwhile you could try version 0.2.10

[2020-11-26 10:15] Daryn-L commented on #103
Thanks for that.
Can confirm v0.2.9 works correctly but not any later.
Cheers!

[2020-11-26 16:03] #103 closed

[2020-11-26 16:13] thdk commented on #35
Probably to late, but yes, it should be. I also noticed these weren't observable this week. I think it's an easy fix and will look into it.

[2020-11-26 17:37] thdk commented on #35
Actually I just tried it again and it seems to work as expected. I'll reopen this issue if the case would reappear.

[2020-11-26 17:37] #35 closed

[2020-11-26 17:40] thdk commented on #31
Done in #98

[2020-11-26 17:40] #31 closed

[2020-11-26 17:40] #13 closed

[2020-11-26 18:47] thdk commented on #15
Exposed the director configuration object as third argument of the `startRouter`method so you can now use the `notfound` callback. I've added an example to the readme.

Released in version 0.3.0

[2020-11-26 18:47] #15 closed

[2020-11-26 18:47] #63 closed

[2020-11-26 19:04] thdk commented on #103
@Daryn-L released new version with fix for your issue.

[2021-01-26 13:33] ruudandriessen opened #106 "mobx 6.x support"
Using the mobx-router package doesn't work under mobx 6.x since `makeObservable` is now required in order to register observables (ref: https://mobx.js.org/observable-state.html). Most notably, this causes  `goTo` to no longer work.

As a workaround it would be possible to use `makeAutoObservable(routerStore)`.
However, that should at least be documented.

[2021-06-23 15:03] mitche50 commented on #106
Just noticed this, been banging my head against this for a while.  An update to the docs would really help here.

[2021-10-05 06:51] thdk commented on #106
Hi, can you try with mobx-router v1.0.0?

[2021-10-07 17:50] chuanhhoang commented on #106
It doesn't work. goTo doesn't trigger rendering.

[2021-10-16 18:49] thdk commented on #106
I have updated the sample repo (https://github.com/thdk/mobx-router-typescript-example) and everything seems to be working fine there. Although it is very possible not all cases are covered in that example project. If so can you submit a PR to the sample repo that shows a reproduction of this issue?

Otherwise, some things to try:
- did you verify the mobx versions in your project? What shows you

[2022-03-23 17:51] romazhan opened #119 "null || '' ??"
https://github.com/kitze/mobx-router/blob/d8b65c6b7253b233d3e4ef01c7c6535e1d45339d/src/start-router.ts#L44

[2022-03-24 07:20] #106 closed

[2022-03-24 07:21] thdk commented on #119
@polak228 Can you give some more info on this issue? Are you experiencing problems with this line?

[2022-03-26 02:43] romazhan commented on #119
Why write null || "?

[2022-03-26 09:20] thdk commented on #119
Ah that's indeed a bit silly 🙂

So it's always `''`

Is there a better value than empty string for this argument?

[2022-03-26 09:38] romazhan commented on #119
Write just '', it will work faster by 0.0001 seconds

[2022-03-26 09:53] thdk commented on #119
Yes, according to the docs https://developer.mozilla.org/en-US/docs/Web/API/History/pushState it should be empty string as this value is never used and exists only for historical reasons.

Feel free to submit a PR.

Still not sure how you stumbled on this line though but that's none of my business :)

[2022-03-26 10:03] #119 closed, assigned to nobody

[2022-05-20 07:12] leegee opened #120 "Demo app referenced in README is 404"
Demo app referenced in README is 404